:root {
  /* Colors */
  --header-bg: rgb(0, 0, 0);
  --bg: #111;
  --color: #ffe;
  --accent: #f15353;
  --font-family: "Gentium Boo", "Helvetica", "Courier New", "Courier", monospace;
  --link: #5555ff;
  --base-font-size: 14pt;
}

@font-face {
  font-family: "Gentium Boo";
  src: url('./GentiumBookPlus-Regular.ttf');
}

html {
  color: var(--color);
  font-family: var(--font-family);
}

div.bg {
  opacity: 20%;
  background-color: #111;
}

div.bg.header {
  background-image: url('./img/hebron.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100dvh;
}

div.bg.main {
  z-index: -1;
  background-image: url('./img/bg.jpeg');
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
}

header {
  height: 90dvh;
  align-items: center;
  background-color: var(--header-bg);
  clip-path: border-box;
}

footer {
  padding-block: 4em;

  background-color: var(--header-bg);
}

main {
  margin-inline: 1em;
  font-size: var(--base-font-size);
}

.t0 {
  font-size: 150%;
}

.t1 {
  font-size: 120%;
}

span.hk {
  display: contents;
  color: var(--accent);
}

.info {
  display: flex;
  align-self: center;
  width: fit-content;
}

.info select, .info input {
  margin-inline: 0.5em;
  background: inherit;
  border: none;
  border-bottom: 1px solid var(--accent);
  color: var(--accent);
  font-size: inherit;
  font-family: var(--font-family);
}

.info input[type='number'] {
  width: 2.3em;
}

.info input[type='text'] {
  width: 8em;
}

input[type='button'] {
  width: 8em;
}

section {
  margin-block: 2em;
}

table {
  margin-inline: 6em;
  margin-block: 1em;
  max-width: 700px;

  align-self: center;
}

td:nth-child(1) {
  padding-inline: 1em;
  font-size: 200%;
  width: 100px;
  overflow-x: hidden;
  text-align: right;
}

td {
  padding-block: 0.4em;
}

a {
  color: var(--link);
}